@import '../../styles/var.less';

.attr-wrap {
  width: 350px;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid @border-color;
  // background-color: #000;
  display: flex;
  flex-direction: column;
}
.tabs-title {
  padding: 0 @normal;
}

.content {
  flex: 1;
}
